.header {
  width: 100%;
  height: 100vh;
  position: relative;
  /* Created with https://www.css-gradient.com */
  background: #ff1010;
  background: -webkit-linear-gradient(top left, #ff1010, #e39001);
  background: -moz-linear-gradient(top left, #ff1010, #e39001);
  background: linear-gradient(to bottom right, #ff1010, #e39001);
}

.main_box {
  max-width: 1250px;
  margin: auto;
padding: 10px 20px;
  display: flex;
  height: 85vh;
  color: var(--text-color);
}

.main_box .row_1 {
  flex-basis: 50%;
  min-width: 300px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}
.main_box .row_1 h1 {
  font-size: 62px;
}
.main_box .row_1 p {
  font-size: 18px;
}

.main_box .row_1 button {
  font-size: 18px;
  background: #f22a0e;
  border: 1px;
  height: 55px;
  width: 35%;
  border-radius: 200px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.main_box .row_2 {
  flex-basis: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.img_3 {
  position: absolute;
  bottom: 60px;
}
.img_1 {
  position: absolute;
  right: 10px;
  transform: rotate(22deg);
}

.img_2 {
  position: absolute;
  left: 10px;
  transform: rotate(-22deg);
}


.attached_box{
  width: 80%;
  height: 100px;
  background: #EEEEEE;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: -40px;
  border-radius: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.attached_box div{
  text-align: center;
  padding: 10px 30px;
  border-radius: 10px;
  transition: 1s;
}
.attached_box div:nth-child(1){
  background-color: rgba(242, 40, 13, 0.17);
}
.attached_box div h2{
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 5px;
  color: rgb(31, 31, 31);
}

.attached_box div p{
  font-weight: 500;
  text-transform: capitalize;
  font-size: 20px;
  color: #ff1010;
}